:root {
    --myNav-height :50px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: -8px;
    padding-right: -8px;
}

.col-full {
    width: 100%;
}

.col-second {
    width: 50%;
}

.col-third {
    width: 33.3333%;
}

.my-navbar {
    position: fixed;
    width: 100%;
    height: var(--myNav-height);
    background-color: #3a3b3c;
    z-index: 2;
}

.my-navbar a {
    text-decoration: none;
}
.my-navbar .my-nav-item ul {
    display: flex;
    padding: 0px;
}

.my-navbar .my-nav-item li {
    line-height: var(--myNav-height);
    list-style: none;
    padding: 0px 15px;
    font-size: 20px;
    color: white;
}

.my-navbar .my-nav-item li:hover {
    background-color: rgb(253,253,253, 0.3) ;
}